## 조건에 맞는 데이터 표준편차 구하기
- 주어진 데이터 중 basic1.csv에서 'f4'컬럼 값이 'ENFJ'와 'INFP'인 'f1'의 표준편차 차이를 절대값으로 구하시오
- 데이터셋 : basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [16]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [27]:
# 조건에 맞는 데이터 (ENFJ, INFP)
df_1 = df[df['f4'] == 'ENFJ']
df_2 = df[df['f4'] == 'INFP']

In [28]:
# 조건에 맞는 f1의 표준편차 (ENFJ, INFP)
std_1 = df_1.f1.std()
std_2 = df_2.f1.std()
std_1, std_2

(17.727097901235837, 23.586719427112648)

In [29]:
# 두 표준편차 차이 절대값 출력
print(abs(std_1 - std_2))

5.859621525876811

## Hint
- 절대 값 : np.abs()
- 표준편차 : DataFrame.std()

## 풀이

In [20]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [21]:
# 조건에 맞는 데이터
df[df['f4']=='ENFJ']

      id   age city    f1  f2   f3    f4         f5
0   id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1   id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
32  id33  47.0   부산  94.0   0  NaN  ENFJ  17.252986
40  id41  81.0   대구  55.0   0  NaN  ENFJ  37.113739
44  id45  97.0   대구  88.0   0  NaN  ENFJ  13.049921
53  id54  53.0   대구   NaN   1  NaN  ENFJ  69.730313

In [22]:
df[df['f4']=='ENFJ']['f1'].std()

17.727097901235837

In [23]:
# 조건에 맞는 f1의 표준편차
enfj = df[df['f4']=='ENFJ']['f1'].std()
enfj

17.727097901235837

In [24]:
# 조건에 맞는 f1의 표준편차
infp = df[df['f4']=='INFP']['f1'].std()
infp

23.586719427112648

In [25]:
# 두 표준편차 차이 절대값 출력
print(np.abs(enfj - infp))

5.859621525876811