In [61]:
import pandas as pd

In [62]:
import warnings
warnings.filterwarnings("ignore")

In [63]:
# 데이터
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      69 non-null     float64
 4   f2      100 non-null    int64
 5   f3      5 non-null      object
 6   f4      100 non-null    object
 7   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.4+ KB

In [64]:
df.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

## 1. 첫번째 데이터 부터 순서대로 50:50으로 데이터를 나누고, 앞에서 부터 50%의 데이터(이하, A그룹)는 'f1'컬럼의 결측치를 A그룹의 중앙값으로 채우고, 뒤에서부터 50% 데이터(이하, B그룹)는 'f1'컬럼의 결측치를 B그룹의 최대값으로 채운 후, A그룹과 B그룹의 표준편차 합을 구하시오
### 단, 소수점 첫째자리까지 구하시오 (둘째자리에서 반올림)

### 내 풀이

In [65]:
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
df_A = df.loc[:49, :]
print(df_A.shape)
df_B = df.loc[50:, :]
print(df_B.shape)
df_A['f1'] = df_A['f1'].fillna(df_A['f1'].median())
df_B['f1'] = df_B['f1'].fillna(df_B['f1'].max())
A_std = df_A['f1'].std()
print(A_std)
B_std = df_B['f1'].std()
print(B_std)
print(round(A_std+B_std, 1)) # 42.0

(50, 8)
(50, 8)
13.70239067477211
28.299304094710486
42.0

In [66]:
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
df_A = df[:50]
print(df_A.shape)
df_B = df[50:]
print(df_B.shape)
df_A.loc[:, 'f1'] = df_A['f1'].fillna(df_A['f1'].median())
df_B.loc[:, 'f1'] = df_B['f1'].fillna(df_B['f1'].max())
A_std = df_A['f1'].std()
print(A_std)
B_std = df_B['f1'].std()
print(B_std)
print(round(A_std+B_std, 1)) # 42.0

(50, 8)
(50, 8)
13.70239067477211
28.299304094710486
42.0

### 출제자 풀이

In [67]:
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
df.shape

(100, 8)

In [68]:
# 50:50
dfA = df[:50]
dfB = df[50:]
dfA.shape, dfB.shape

((50, 8), (50, 8))

In [69]:
# 결측치 채우기
dfA.loc[:,'f1'] = dfA['f1'].fillna(dfA['f1'].median())
dfB.loc[:,'f1'] = dfB['f1'].fillna(dfB['f1'].max())

In [70]:
# 표준편차 확인
dfA['f1'].std()

13.70239067477211

In [71]:
# 표준편차 확인
dfB['f1'].std()

28.299304094710486

In [72]:
# 결과 출력
print(round(dfA['f1'].std() + dfB['f1'].std(),1))

42.0

## 2. 'f4'컬럼을 기준 내림차순 정렬과 'f5'컬럼기준 오름차순 정렬을 순서대로 다중 조건 정렬하고나서 앞에서부터 10개의 데이터 중 'f5'컬럼의 최소값 찾고, 이 최소값으로 앞에서 부터 10개의 'f5'컬럼 데이터를 변경함. 그리고 'f5'컬럼의 평균값을 계산함
### 단 소수점 둘째자리까지 출력(셋째자리에서 반올림)

### 내 풀이

In [102]:
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
df = df.sort_values(['f4', 'f5'], ascending=[False, True]).reset_index(drop=True)
f5_min = df['f5'][:10].min()
print(f5_min)
df.loc[:10, 'f5'] = f5_min
print(round(df['f5'].mean(), 2)) # 53.06

17.25298557
53.06

In [99]:
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
df = df.sort_values(['f4','f5'], ascending=[False, True]).reset_index(drop=True)
df

      id   age city    f1  f2   f3    f4         f5
0   id43  23.0   대구  60.0   0  NaN  ISTP  29.269869
1   id70  -9.0   경기  96.0   1  NaN  ISTP  48.431184
2   id17  74.0   서울   NaN   1  NaN  ISTP  67.886373
3   id23  34.0   부산  75.0   1  NaN  ISTP  69.730313
4   id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
..   ...   ...  ...   ...  ..  ...   ...        ...
95  id33  47.0   부산  94.0   0  NaN  ENFJ  17.252986
96  id41  81.0   대구  55.0   0  NaN  ENFJ  37.113739
97  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
98  id54  53.0   대구   NaN   1  NaN  ENFJ  69.730313
99  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791

[100 rows x 8 columns]

In [100]:
df.iloc[:10,7] = df['f5'][:10].min()
print(df['f5'][:10].min())
print(round(df['f5'].mean(),2)) # 53.63

17.25298557
53.63

## 3. 'age' 컬럼의 IQR방식을 이용한 이상치 개수와 표준편차*1.5방식을 이용한 이상치의 개수를 더하시오
- IQR방식 : Q1 - 1.5 * IQR, Q3 + 1.5 * IQR에서 벗어나는 영역을 이상치라고 판단함 (Q1은 데이터의 25%, Q3는 데이터의 75% 지점임)
- 표준편차*1.5방식: 평균으로부터 '표준편차*1.5'를 벗어나는 영역을 이상치라고 판단함

### 내 풀이

In [107]:
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
q3 = df['age'].quantile(0.75)
q1 = df['age'].quantile(0.25)
IQR = q3-q1
min_out =  q1-1.5*IQR
max_out = q3+1.5*IQR

min_out, max_out

(-48.3125, 152.1875)

In [116]:
con1 =df['age'] > max_out
con2 = df['age'] < min_out
print(len(df[con1|con2]))

0

In [117]:
mean = df['age'].mean()
std = df['age'].std()
out_max = mean + 1.5*std
out_min = mean - 1.5*std
len(df[(df['age'] > out_max) | (df['age'] < out_min)])

14

In [118]:
print(len(df[con1|con2]) + len(df[(df['age'] > out_max) | (df['age'] < out_min)]))

14

In [75]:
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")

In [76]:
# IQR방식 기준점
Q1 = df['age'].quantile(.25)
Q3 = df['age'].quantile(.75)
IQR = Q3 - Q1
min_iqr = Q1-1.5*IQR
max_iqr = Q3+1.5*IQR
print(min_iqr, max_iqr)

-48.3125 152.1875

In [77]:
# 표준편차*1.5 방식 기준점
std = df['age'].std() * 1.5
mean = df['age'].mean()
min_out = mean - std
max_out = mean + std
print(min_out, max_out)

5.298862216116952 96.62713778388306

In [78]:
# 표준편차*1.5 방식 기준
out1 = sum((df['age'] < min_out) | (df['age'] > max_out))
out1

14

In [79]:
# IQR방식 기준
out2 = sum((df['age'] < min_iqr) | (df['age'] > max_iqr))
out2

0

In [80]:
print(out1+out2)

14