In [1]:
import requests

url = "http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=1308370912&type=json&iStartUnitCode=101&iEndUnitCode=103"
req = requests.get(url)
print(req)

<Response [200]>

In [3]:
json_df = req.json()
json_df

{'count': 1097,
 'pageNo': 1,
 'numOfRows': 10,
 'pageSize': 110,
 'realUnitTrtmVO': [{'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '9.966666666666667',
   'timeMax': '16.933',
   'timeMin': '8.200',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '10  ',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '456',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '11.216666666666667',
   'timeMax': '14.900',
   'timeMin': '8.200',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '10:00',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '151',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '11.816666666666666',
   'timeMax': '14.900',
   'timeMin': '11.816',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '10:05',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '35',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '12.35',
   'timeMax': '14.366',
   'timeMin': '12.200',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '10:10',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '40',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '12.483333333333333',
   'timeMax': '16.350',
   'timeMin': '11.416',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '10:15',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '188',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '13.083333333333334',
   'timeMax': '14.516',
   'timeMin': '11.983',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '10:20',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '45',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '13.116666666666667',
   'timeMax': '14.016',
   'timeMin': '11.416',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '10:25',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '53',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '12.791666666666666',
   'timeMax': '15.150',
   'timeMin': '10.133',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '10:30',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '134',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '13.183333333333334',
   'timeMax': '15.150',
   'timeMin': '10.133',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '10:35',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '37',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '13.266666666666667',
   'timeMax': '14.816',
   'timeMin': '12.283',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '10:40',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '31',
   'iStartEndStdTypeCode': None}],
 'message': '인증키가 유효합니다.',
 'code': 'SUCCESS'}

In [4]:
import pandas as pd

cars = json_df['realUnitTrtmVO']
pd.DataFrame(cars)

,pageNo,numOfRows,startUnitCode,endUnitCode,stdDate,sumTmUnitTypeCode,startEndStdTypeCode,timeAvg,timeMax,timeMin,...,stdTime,startUnitNm,endUnitNm,startEndStdTypeNm,tcsCarTypeName,tcsCarTypeCode,tcsCarTypeDivName,tcsCarTypeDivCode,efcvTrfl,iStartEndStdTypeCode
0,None,None,101,103,20230807,None,2,9.966666666666667,16.933,8.200,...,10,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,456,None
1,None,None,101,103,20230807,None,2,11.216666666666667,14.900,8.200,...,10:00,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,151,None
2,None,None,101,103,20230807,None,2,11.816666666666666,14.900,11.816,...,10:05,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,35,None
3,None,None,101,103,20230807,None,2,12.35,14.366,12.200,...,10:10,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,40,None
4,None,None,101,103,20230807,None,2,12.483333333333333,16.350,11.416,...,10:15,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,188,None
5,None,None,101,103,20230807,None,2,13.083333333333334,14.516,11.983,...,10:20,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,45,None
6,None,None,101,103,20230807,None,2,13.116666666666667,14.016,11.416,...,10:25,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,53,None
7,None,None,101,103,20230807,None,2,12.791666666666666,15.150,10.133,...,10:30,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,134,None
8,None,None,101,103,20230807,None,2,13.183333333333334,15.150,10.133,...,10:35,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,37,None
9,None,None,101,103,20230807,None,2,13.266666666666667,14.816,12.283,...,10:40,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,31,None

In [6]:
# json 데이터를 pandas df로 바꾸기

records = []
for car in cars:
    row_dict = {}
    row_dict['data'] = car["stdDate"]
    row_dict['timeAvg'] = car["timeAvg"]
    records.append(row_dict)
pd.DataFrame(records)

       data             timeAvg
0  20230807   9.966666666666667
1  20230807  11.216666666666667
2  20230807  11.816666666666666
3  20230807               12.35
4  20230807  12.483333333333333
5  20230807  13.083333333333334
6  20230807  13.116666666666667
7  20230807  12.791666666666666
8  20230807  13.183333333333334
9  20230807  13.266666666666667

In [10]:
# xml 데이터를 pandas df로 바꾸기

import requests
import lxml
from bs4 import BeautifulSoup
import pandas as pd

url = "http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=1308370912&type=xml&iStartUnitCode=101&iEndUnitCode=103&numOfRows=10&pageNo=1"
req = requests.get(url)
# print(req.text)

soup = BeautifulSoup(req.text, "lxml") # XML 반환값이라서 lxml을 사용한 것
# print(soup.prettify())

# xml결과값으로 데이터프레임 변환
stddate_list = soup.find_all("stddate")
timeAvg_list = soup.find_all("timeAvg")

stddate = []
avgTime = []
for date, timeAvg in zip(stddate_list, timeAvg_list):
    # print(date.get_text(), timeAvg.get_text())
    stddate.append(date.get_text())
    avgTime.append(timeAvg.get_text())

df = pd.DataFrame({"data":stddate, "avgTime" : avgTime})
df

Empty DataFrame
Columns: [data, avgTime]
Index: []